

/* ==========================================================================
   Eatads's custom styles
   ========================================================================== */
/* CSS selectors like first-child, references like > and html tags like button do not work with mpdf.
Therefore, using class names instead of referencing with the paren selector. 
*/

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.navbar-reportpdf {
	background-color: rgb(71, 83, 91);
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 0.5em;
}
.table-hover {
	margin-bottom: 3em; 
	
}
.table-hover-tr {
	background-color: #e1e1e1;
}
.danger {
    background-color: #f2dede;
}
.heading-image-download {
	width: 100%;
	text-align:center;
}
.heading-image-download-button {
	color:#fff;
	background-color:#feca2f;
	padding: 0.4em;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px;
	border-bottom: 2px solid #daa916;
}
.full-row-h3 {
	text-align: center; 
	margin: 2em;
}
.full-row-h3-b {
	background-color:rgb(71, 83, 91);
	color: #fff;
}
.photos {
	width: 100%; 
	text-align:justify;
}
.sitepic {
	width: 50%; 
	float: left; 
	margin-bottom:1em;
}
.image_site {
	width:80%;
}
.problem .lighting {
        color: white;
        border-radius: 16px;
        padding: 4px 12px;
        margin-right: 4px;
        line-height: 28px;
        font-size: 11px;
        word-wrap: normal;
        background-color: #F1890F;
}