
* {margin: 0; padding: 0;}

.ffTextBoxWrapper,
.ffPasswordWrapper,
.ffCheckboxWrapper,
.ffRadioWrapper,
.ffTextAreaWrapper,
.ffSubmitWrapper,
.ffResetWrapper,
.ffButtonWrapper {display: inline-block; zoom: 1; *display: inline; margin: 5px 0;}
.ffCheckboxWrapper {display: inline-block;
                    zoom: 1;
                    margin: 5px 0;
                    position: relative;
                    top: 8px;
                    left: 9px;}
.ffSelectWrapper{display: inline-block; zoom: 1; margin: 0px 0;}


.ffTextBoxLeft, .ffTextBoxRight,
.ffPasswordLeft, .ffPasswordRight,
.ffCheckbox, .ffRadio, .ffSelectButton, .ffSelectButton span,
.ffSelectMenuWrapper div.ffSelectMenuTop,
.ffSelectMenuWrapper div.ffSelectMenuBottom,
.ffSelectMenuWrapper > div > span,
.ffTextAreaTop, .ffTextAreaTop span,
.ffTextAreaBottom, .ffTextAreaBottom span,
.ffSubmitWrapper a, .ffSubmitWrapper a span,
.ffResetWrapper a, .ffResetWrapper a span,
.ffButtonWrapper a, .ffButtonWrapper a span {
    background:#eee;
}
.row.addons .ffSelectWrapper {
    margin-left: 11px;
    width:129px;
}

/* text box */
.ffTextBoxRight, .ffPasswordRight {
    background-position: right -256px;
    padding-right:5px;
}
.ffTextBoxLeft, .ffPasswordLeft {
    background-position: 0 0;
    padding: 0 5px 0 10px;
}
.ffTextBoxLeft input, .ffPasswordLeft input {
    border: 0;
    height: 28px;
    background-color: transparent;
    margin-top: 6px\9;
    height: 22px\9;
}
.ffSelectWrapper.green .ffSelect > a, .green .ffSelectWrapper .ffSelect > a  {border-color:#454545; color:#454545}
.ffSelectWrapper.green .ffSelect > a >span, .green .ffSelectWrapper .ffSelect > a >span {color:#454545; background-image:url(../img/polygon_inverse_2.png);}
.ffSelectWrapper.error .ffSelect > a {border-color:#454545; color:#454545}
.ffSelectWrapper.error .ffSelect > a >span {color:#454545; background-image:url(../img/polygon_error.png);}
.ffTextBoxRight:hover,
.ffPasswordRight:hover {background-position: right -288px;}
.ffTextBoxLeft:hover,
.ffPasswordLeft:hover {background-position: 0 -32px;}


.focus .ffTextBoxRight,
.focus .ffPasswordRight {background-position: right -320px;}
.focus .ffTextBoxLeft,
.focus .ffPasswordLeft {background-position: 0 -64px;}

.ffTextBoxWrapper.disabled .ffTextBoxRight,
.ffPasswordWrapper.disabled .ffPasswordRight {background-position: right -352px;}
.ffTextBoxWrapper.disabled .ffTextBoxLeft,
.ffPasswordWrapper.disabled .ffPasswordLeft {background-position: 0 -96px; color: #999;}


/* checkbox */

.ffCheckboxWrapper a {
    text-decoration: none;
    color: #222222;
    position: relative;
    top: -1px;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 10px;
}
.ffCheckbox {
    width: 16px;
    height: 16px;
    float: left;
    background:url(../img/checkbox_off.png) no-repeat top left;
    cursor: pointer;
}
.ffCheckboxWrapper:hover a, .ffCeckboxWrapper.focus a {color: #4e4e4e;}
.ffCheckboxWrapper:hover .ffCheckbox, .ffCeckboxWrapper.focus .ffCheckbox{ background:url(../img/checkbox_off.png) no-repeat top left;}
.ffCheckboxWrapper.on .ffCheckbox { background:url(../img/checkbox_on.png) no-repeat top left!important;}
.ffCheckboxWrapper.on:hover .ffCheckbox, .ffCeckboxWrapper.on.focus .ffCheckbox { background:url(../img/checkbox_off.png) no-repeat top left;}
.ffCheckboxWrapper.disabled .ffCheckbox {opacity:0.7}
.ffCheckboxWrapper.on.disabled .ffCheckbox {opacity:0.7}
.ffCheckboxWrapper.disabled a, .ffCeckboxWrapper.disabled:hover a, .ffCeckboxWrapper.disabled.focus a {color: #999;}


/* radio */
.ffRadioWrapper a {
    text-decoration: none;
    color: #555;
    position: relative;
    top: 1px;
    font-size: 14px;
    padding-left: 5px;
    margin-right: 10px;
}
.ffRadio {
    float: left;
    background: url('../img/radio_sprite.png') no-repeat -1px 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.ffRadioWrapper:hover a, .ffRadioWrapper.focus a {color: #4e4e4e;}
.ffRadioWrapper:hover .ffRadio, .ffRadioWrapper.focus .ffRadio{background-position: -23px 0;}
.ffRadioWrapper.on .ffRadio {background-position: -23px 0;}
.ffRadioWrapper.on:hover .ffRadio, .ffRadioWrapper.on.focus .ffRadio {background-position: -23px 0;}
.ffRadioWrapper.disabled .ffRadio {background-position: -23px 0;}
.ffRadioWrapper.on.disabled .ffRadio {background-position: -23px 0;}
.ffRadioWrapper.disabled a, .ffRadioWrapper.disabled:hover a, .ffRadioWrapper.disabled.focus a {color: #999;}


/* selectbox */
.ffSelectWrapper {width:151px; margin-bottom:15px;}
.mtype .ffSelectWrapper  {width:188px;}
.ffSelect {position: relative; 

}    

.ffSelect > a {

    display: inline-block;
    text-decoration: none;
    outline: 0;
    cursor: default;
    max-width: 100%;
    border: 1px solid #686868;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    height:25px
}
.navbar-second.navbar-static-top.home-bar .left.normal .col-sm-6 .ffSelect > a {height:43px!important;}
.ffSelect > a > span {
    display: block;
    height: 34px;
    width: 129px;
    background: url(../img/polygon.png) no-repeat 104px 17px;
    padding-left: 10px;
    padding-top: 11px;
    overflow: hidden;
    line-height: 28px;
    font-size: 14px;
    color: #686868;
    font: normal 15px Proximanovaregular;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

}

.mtype .ffSelect > a > span {
    display: block;
    height: 40px;
    margin-right: 40px;
    width: 172px;
    background: url(../img/polygon_home.png) no-repeat 155px 15px;
    padding-left: 10px;
    padding-top: 11px;
    overflow: hidden;
    line-height: 28px;
    font-size: 14px;
    color: #454545;
    font: normal 16px Proximanovabold;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.listingupload .ffSelect > a {
    border: 1px solid #000;
}
.listingupload .ffSelect > a > span {
    color:#000;
    background:url(../img/polygon_black.png) no-repeat 195px 11px;
}
.listingupload .ffSelectMenuWrapper .ffSelectMenuMidBG li {
    color:#000;
}
.listingupload .ffSelectMenuWrapper .ffSelectMenuMidBG li.on {background:#000;}
.listingupload .ffSelectMenuWrapper {border-color:#000;}
#detailed .right.favourites .ffSelectWrapper {margin-top:8px;width:133px;}
#detailed .right.favourites .ffSelect > a {  display: inline-block;
                                             text-decoration: none;
                                             background: #329b02 url(../img/star_fav_select.png) no-repeat 7px 5px;
                                             outline: 0;
                                             cursor: default;
                                             max-width: 100%;
                                             border: 1px solid #329b02;
                                             border-radius: 4px;
                                             -webkit-border-radius: 4px;
                                             -moz-border-radius: 4px;
                                             height:33px;
                                             padding-left:25px;
}

#detailed .right.favourites .ffSelect > a > span {
    display: block;
    height: 27px;
    margin-right: 40px;
    width: 103px;
    background:url(../img/polygon_inverse.png) no-repeat 80px 11px;
    padding-left: 10px;
    padding-top: 6px;
    overflow: hidden;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
    font: normal 14px ProximanovaSemiBold;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

}
.preview1 .right.favourites .ffSelectWrapper {margin-top:8px;width:175px!important; float:right;}
.preview1 .right.favourites .ffSelect > a {  display: inline-block;
                                             text-decoration: none;
                                             background: #eeeeee!important;
                                             background-image: none!important;
                                             outline: 0;
                                             cursor: default;
                                             max-width: 100%;
                                             border: 1px solid #454545;

                                             border-radius: 4px;
                                             -webkit-border-radius: 4px;
                                             -moz-border-radius: 4px;
                                             height:36px!important;
                                             padding-left:0!important;
}

.preview1 .right.favourites .ffSelect > a > span {
    display: block;
    height: 27px;
    margin-right: 40px;
    width: 165px!important;
    background:url(../img/polygon_inverse_2.png) no-repeat 146px 13px!important;
    padding-left: 0px;
    padding-top: 6px;
    overflow: hidden;
    line-height: 28px;

    color:#454545!important;
    font: normal 14px clear_sansbk!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;

}

.ffSelect:hover > a, .ffSelectWrapper.focus .ffSelect > a {}
.ffSelect:hover > a > span, .ffSelectWrapper.focus .ffSelect > a > span {}
.ffSelectWrapper.active  .ffSelect> a { z-index: 1005; position: relative;}
.ffSelectWrapper.active  .ffSelect > a > span {}
.ffSelectWrapper.disabled .ffSelect > a {border-color:#bbbbbb!important; }
.ffSelectWrapper.disabled .ffSelect > a > span { color: #999;background:url(../img/polygon_disabled.png) no-repeat 195px 12px}


.ffSelectMenuWrapper {width: 100%;     border: 1px solid #454545;
                      -moz-border-radius-bottomleft: 4px;
                      -moz-border-radius-bottomright: 4px;

                      -webkit-border-radius:  0px 0px 4px 4px;
                      border-radius: 0px 0px 4px 4px;
                      z-index:999999;
                      border-top: none;
                      top:29px!important;
}
#detailed .right.favourites .ffSelectMenuWrapper {width: 100%;     border: 1px solid #329b02;
                                                  -moz-border-radius-bottomleft: 4px;
                                                  -moz-border-radius-bottomright: 4px;

                                                  -webkit-border-radius:  0px 0px 4px 4px;
                                                  border-radius: 0px 0px 4px 4px;
                                                  z-index:999999;
                                                  border-top: none;
                                                  top:29px!important;
}
.ffSelectMenuWrapper .ffSelectMenuMidBG ul{list-style-type:none;margin:0 0 5px; padding:0;}
.ffSelectMenuWrapper .ffSelectMenuMidBG li {padding: 5px 11px; cursor: default; color: #454545;     color: #454545;
                                            font: normal 16px Proximanovabold;background-color: #fff;}
#detailed .right.favourites .ffSelectMenuWrapper .ffSelectMenuMidBG li{color:#329b02; background: none; width:auto;display:block; float:none; text-align:left!important; line-height:22px;padding: 8px 11px 0; cursor: default; height:auto}
#detailed .right.favourites .ffSelectMenuWrapper .ffSelectMenuMidBG li span{color:#329b02; background: none; width:auto; height:auto}
.ffSelectMenuWrapper .ffSelectMenuMidBG li SPAN{font-size:14px;}
.ffSelectMenuWrapper .ffSelectMenuMidBG li.disabled SPAN{color:#bbbbbb;}
.ffSelectMenuWrapper .ffSelectMenuMidBG li.on{background-color: #454545; color:#fff;}
#detailed .right.favourites .ffSelectMenuWrapper .ffSelectMenuMidBG li.on{background-color:#329b02; color:#fff}
#detailed .right.favourites .ffSelectMenuWrapper .ffSelectMenuMidBG li.on span {color:#FFF;}

.ffSelectMenuWrapper{background: #fff url(../img/line.png) no-repeat 12px 0!important;}
#detailed .right.favourites .ffSelectMenuWrapper {background:#fff!important;}
.ffSelectMenuTop {

    height: 1px;
    margin-top:3px;

}
.ffSelectMenuTop span {


}

.ffSelectMenuBottom {
    display:none!important
}
.ffSelectMenuBottom span {
    display: block;
    height: 5px;
    margin-left: 8px;
    background-position: right -404px;
}
.ffSelectMenuMidBG {background:none}
.ffSelectMenuMid  {max-height: 400px; overflow: auto; background:none; padding-left: 0px;margin-right:0px;}

.scrollingBarWrapper{width:24px;height:200px;background:url(../img/scrollingBarBg.png) no-repeat;right:3px!important;}
.scrollingHandle {width:24px;padding-top:20px;background:url(../img/scrollingHandleTop.png) no-repeat 0 0;}
.scrollingHandleBottom{width:24px;background:url(../img/scrollingHandleBottom.png) no-repeat 0px bottom}

.order_by .ffSelectWrapper {width:175px;}
.order_by .ffSelect > a {
    display: inline-block;
    text-decoration: none;
    outline: 0;
    background: #454545;
    cursor: default;
    max-width: 100%;
    border: 1px solid #454545;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    color:#fff;
}
.order_by .ffSelect > a > span {color: #fff;
                                width: 173px;
                                background: url(../img/sort_polygon.png) no-repeat 152px 6px;
                                font: normal 15px ProximanovaSemiBold;
                                margin-right: 0;
                                text-align: center;
                                padding: 0;
                                position: relative;
                                top: 8px;
}
.order_by .ffSelectMenuWrapper {    background: #454545!important;}
.order_by .ffSelectMenuWrapper .ffSelectMenuMidBG li {background-color: #454545;
                                                      font:normal 15px ProximanovaSemiBold;color: #fff;}
.order_by .ffSelectMenuWrapper .ffSelectMenuMidBG li.on {background-color: #fff;
                                                         font:normal 15px ProximanovaSemiBold;color: #454545;}
/* textarea */
.ffTextAreaWrapper textarea {
    border: 0;
    margin: 10px 10px 10px 15px;
    padding:0 ;
    font-size: 14px;
    color: #555;
    background: none;
    font-family: Arial;
    resize: none;
}


.ffTextAreaTop {
    height: 5px;
    background-position: 0 -394px;
}
.ffTextAreaTop span {
    display: block;
    height: 5px;
    margin-left: 8px;
    background-position: right -384px;
}

.ffTextAreaMid {
    background: transparent url(../img/sides.png) repeat-y right 0;
}
.ffTextAreaMid .ffTextAreaLeft {
    background: url(../img/sides.png) repeat-y 0 0;
    margin-right: 4px;
}


.ffTextAreaBottom {
    height: 5px;
    background-position: 0 -414px;
}
.ffTextAreaBottom span {
    display: block;
    height: 5px;
    margin-left: 6px;
    background-position: right -404px;
}


/* button */
.ffButtonWrapper > a {
    background-position: right -585px;
    display: block;
    text-decoration: none;
    outline: 0;
}
.ffButtonWrapper > a > span {
    display: block;
    height: 36px;
    padding-bottom: 2px;
    line-height: 39px;
    font-size: 15px;
    background-position: 0 -424px;
    text-align: center;
    padding: 0 10px 0 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

.ffButtonWrapper:hover > a {background-position: right -625px;}
.ffButtonWrapper:hover > a > span {background-position: 0 -464px;}
.ffButtonWrapper > a:active {background-position: right -665px; position: relative; }
.ffButtonWrapper > a:active > span {background-position: 0 -504px;}
.ffButtonWrapper.disabled > a {background-position: right -705px; position: static;}
.ffButtonWrapper.disabled > a > span {background-position: 0 -544px;color: #c1c1c1;}

input[type="text"], input[type="password"], textarea, select {outline: none;} /* remove webkit yellow border */

select.mobileSelect{opacity:0;filter:alpha(opacity=0);position:absolute;top:0;display:block;}





















/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
