{#.}
<li class="list-item">
    <h2 class="list-item-heading clickfor-show-hide pull-left"><span class="glyphicon glyphicon-plus expand-collapse" onclick="fetchCampaignDetails('{id}');"></span>&nbsp;{name} ({count})</h2>
    <h3>&nbsp;&nbsp;{startDate} - {endDate}</h3>
    <div class="pull-right">
        <button class="btn btn-secondary"><span class="glyphicon glyphicon-share"></span> Share</button>
        &nbsp;
        <button class="btn btn-secondary" data-toggle="modal" data-target="#add-site-modal" onclick="fetchvendors('{name}', '{id}');"><span class="glyphicon glyphicon-plus"></span> Add Sites</button>
        &nbsp;
        <button class="btn btn-primary" data-toggle="modal" data-target="#" onclick="saveCampaign('{id}');">Save Campaign</button>
        
    </div>
    <div class="list-item-content show-hide-content">
        <ul class="sub-list" id="campaign_{id}">
            
        </ul>
    </div>
</li>
{/.}