{#.}
<li class="list-item">
    <h2 class="list-item-heading clickfor-show-hide pull-left"><span class="glyphicon glyphicon-plus expand-collapse"></span>&nbsp;{name} ({count})</h2>
    <h3>&nbsp;&nbsp;{startDate} - {endDate}</h3>
    <div class="pull-right">
        <button class="btn btn-secondary"><span class="glyphicon glyphicon-share"></span> Share</button>
        &nbsp;
                    <button class="btn btn-primary" data-toggle="modal" data-target="#add-site-modal"><span class="glyphicon glyphicon-plus"></span> Add Sites</button>
    </div>
    <div class="list-item-content show-hide-content" style="display: none;">
                        <div class="list-action">
                            <h3>Add Sites</h3>&nbsp;
                            <div class="dropdown multi-level-select" id="add-site-dropdown">
                                <button id="dLabel" role="button" data-toggle="dropdown" class="btn btn-default" data-target="#" href="/page.html">
                                    Select Sites <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Selvel</a>
                                        <ul class="dropdown-menu">
                                            <li><input type="checkbox"> Site 1</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Graphisads</a>
                                        <ul class="dropdown-menu">
                                            <li class="selected"><input type="checkbox"> Site 1</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                            <li><input type="checkbox"> Site 2</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <button class="btn btn-secondary">Add</button>
                        </div>

</li>
{/.}