{#.}
<a href="{imageName}" data-toggle="lightbox" data-gallery="multiimages" data-title="<div>
                    <h2><span>Site: </span>{siteName}</h2>
                    <h3><span>Campaign: </span>{campaignName}</h3>
                    <div>
                        {#installation}
                        <span class='install'>{.}</span>
                        {/installation}
                        {#lighting}
                        <span class='lighting'>{.}</span>
                        {/lighting}
                        {#obstruction}
                        <span class='obstruct'>{.}</span>
                        {/obstruction}
                    </div>
                    <h3><span>Remove Image: </span><a href='#' onclick='removeImage({id}, {taskid});'> Click Here</a></h3>
                    <h3><span>Original Image: </span><a href='{originalImageName}' target='_blank'> Click Here</a></h3>
                          </div>" 

    data-footer="<div class='pull-left'>Clicked by: {clickedBy}</div><div class='pull-right'>Clicked at: {clickedDateTime}</div><div class='clearfix'></div>">
</a>
{/.}