{#.}
<a href="javascript:void(0);" class="list-group-item site-list-item" id="modalImg_{id}">
    <div class="pull-right">
        <button onclick="setlisting('{id}');" class="glyphicon glyphicon-plus small-btn plus" data-container="body" data-toggle="popover" data-placement="left" data-content="" data-trigger="manual">
        </button>
        {?is_favByUser}
        <button class="glyphicon glyphicon-star small-btn star site_marked_fav" onclick="setfav('{id}');" id="fav_{id}"></button>
        {/is_favByUser}
        {^is_favByUser}
        <button class="glyphicon glyphicon-star-empty small-btn star" onclick="setfav('{id}');" id="fav_{id}"></button>
        {/is_favByUser}
    </div>
<div onclick="showDetails('{id}');"> 
<div class="pull-left">
        <img class="media-object" src="{thumbnail}" alt="" height="60px" width="90px">   
    </div>   

    <h4 class="list-group-item-heading">{name}</h4>
    <p class="list-group-item-text">{type} &nbsp; &nbsp; {length} x {width} {sizeunit}</p>
    {?price}
    <p class="list-group-item-text price">{basecurrency} {price} <span class="per-month">per mo</span></p>
    {/price}
</div> 

</a>
{/.}