<tr>
    <th>Campaign</th>
    <th>Site</th>
    <th>Media Type</th>
    <th>Assigned To</th>
    <th>Due Date</th>
</tr>
{#.}
<tr>
                <td>{campaignname}</td>
                <td>{name}, {locality}</td>
                <td>{mediatype}</td>
                <td>
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Anuj
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Shyam</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mohan</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ankur</a></li>
                      </ul>
                    </div>
                </td>
                <td>{dueDate}</td>
</tr>
{/.}